<form (ngSubmit)="salvar()" [formGroup]="pessoaForm" #form="ngForm">

    <!-- id -->
    <input type="hidden" formControlName="id"/>

    <!-- Nome -->
    <div class="form-group my-4">
        <label for="nome" class="form-label fs-6">Nome:</label>
        <input type="text" 
                class="form-control"
                formControlName="nome"
                placeholder="Insira um nome" 
                required/>
        <div *ngIf="nome?.invalid && form.submitted">
            <p class="text-danger fs-6 m-2">o campo nome é obrigatório!</p>
        </div>
    </div>

    <!-- Email -->
    <div class="form-group my-4">
        <label for="email" class="form-label fs-6">Email:</label>
        <input type="email" 
                class="form-control"
                formControlName="email" 
                placeholder="Insira um email"/>
    </div>

    <!-- Nascimento -->
    <div class="form-group my-4">
        <label for="nascimento" class="form-label fs-6">Nascimento:</label>
        <input type="date" 
                class="form-control"
                formControlName="nascimento" 
                placeholder="Insira uma data de nascimento" 
                required/>
        <div *ngIf="nascimento?.invalid && form.submitted">
            <p class="text-danger fs-6 m-2">O campo nascimento é obrigatório!</p>
        </div>
    </div>

    <!-- Telefone -->
    <div class="form-group my-4">
        <label for="telefone" class="form-label fs-6">Telefone:</label>
        <input type="tel" 
                class="form-control"
                formControlName="telefone" 
                placeholder="Insira um número de telefone"/>
    </div>

    <div class="form-group my-4">
        <div class="col-md-12 text-center">
            <!--<button class="mx-5 btn btn-danger" (click)="cancelar()">Cancelar</button>-->
            <button mat-button mat-dialog-close class="mx-5 btn btn-danger">Cancelar</button>
            <button class="mx-5 btn btn-primary button-background">Salvar</button>
        </div>
    </div>
</form>