.no-display {
    display: none;
}

.button-background {
    background-color: teal;
    border: none;
    outline: none;
}

.fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px; /* Espaçamento interno para melhor aparência */
}