<div class="container-fluid" style="margin-top: 15vh;">
    <div id="filtros" class="row m-3">
        <div class="col-md-12 text-center">
            <fieldset class="fieldset">
                <legend>
                    <mat-checkbox id="filtros" 
                        type="checkbox" 
                        [(ngModel)]="filtrosHabilitados"
                        (change)="habilitarDesabilitarCheckbox()">
                    </mat-checkbox>
                    <label for="filtros" class="fs-6">Filtros de busca:</label>
                </legend>
    
                <div class="row justify-content-center">
                    <!-- Componente que realiza a busca pelo nome da pessoa -->
                    <div class="col-md-7">
                        <span class="mx-5">
                            <app-busca-pessoa
                                [desabilitarInput]="!filtrosHabilitados"
                                (buscarPessoaNomeEmitter)="buscarPessoaNomeReceiver($event)">
                            </app-busca-pessoa>
                        </span>
                    </div>
    
                    <!-- Componente para busca através de mês e ano -->
                    <div class="col-md-4 mt-3">
                        <span class="mx-5">
                            <app-mes-ano-datepicker 
                                [desabilitarInput]="!filtrosHabilitados"
                                (buscarPessoaMesEAnoEmitter)="buscarPessoaMesEAnoReceiver($event)">
                            </app-mes-ano-datepicker>
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div id="tabela" class="row m-3 w-100">
        <div class="col-md-12 text-center">
            <table class="table" border="0">
                <thead>
                    <tr>
                        <td class="fs-5">Nome</td>
                        <td class="fs-5">Telefone</td>
                        <td class="fs-5">Nascimento</td>
                        <td class="fs-5">Email</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas">
                        <td [className]="'no-display'">{{ pessoa.id }}</td>
                        <td class="align-middle">{{ pessoa.nome }}</td>
                        <td class="align-middle">{{ pessoa.telefone }}</td>
                        <td class="align-middle">{{ pessoa.nascimento }}</td>
                        <td class="align-middle">{{ pessoa.email }}</td>
                        <div class="col-md-2">
                            <td>
                                <button type="button" class="btn btn-primary mx-1" (click)="salvarOuEditarPessoa(getLabelEditar(), pessoa.id)">Editar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger mx-1" (click)="excluirPessoa(pessoa.id ?? 0)">Excluir</button>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="botoes" class="row my-3">
        <div class="col-md-12 text-center">
            <button class="mx-5 btn btn-primary button-background" (click)="salvarOuEditarPessoa(getLabelSalvar())">
                Novo cadastro
            </button>
            <button class="mx-5 btn btn-primary">
                Buscar pessoa
            </button>
        </div>
    </div>
</div>