nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: teal;
}

a {
    text-decoration: none;    
}

h2 {
    color: white;
    margin: 0;
}